@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#light-switch1 {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  display: none;
}

#light-switch1:checked ~ #light-switch-label1 .switch {
  box-shadow: 0 10px 10px -5px #e9dbb0, 0 0 0 1px #0000001a, 0 0 0 4px #e8e8e8, 0 0 0 5px #0000001a;
}

#light-switch1:checked ~ #light-switch-label1 .switch:before {
  height: calc(var(--swicth-h) / 2);
  line-height: calc(var(--swicth-h) / 2);
  color: #64bf60;
  text-shadow: 0 0 3px #38ff2e;
  background: #e8e8e8;
  top: 0;
}

#light-switch1:checked ~ #light-switch-label1 .switch:after {
  height: calc(var(--swicth-h) / 2 - 5px);
  line-height: calc(var(--swicth-h) / 2 - 5px);
  color: #b5b5b5;
  text-shadow: 0 0 #0000;
  background: #f5f5f5;
  bottom: 5px;
  box-shadow: 0 5px #a6a6a6;
}

#light-switch-label1 {
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
}

#light-switch-label1 .switch {
  cursor: pointer;
  height: var(--swicth-h);
  width: var(--swicth-w);
  background: #f5f5f5;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 10px -5px #e9dbb000, 0 0 0 1px #0000001a, 0 0 0 4px #e8e8e8, 0 0 0 5px #0000001a;
}

#light-switch-label1 .switch:before {
  content: "ON";
  height: calc(var(--swicth-h) / 2 - 5px);
  text-align: center;
  line-height: calc(var(--swicth-h) / 2 - 5px);
  width: var(--swicth-w);
  color: #999;
  background: #d1d1d1;
  border-radius: 5px 5px 0 0;
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
}

#light-switch-label1 .switch:after {
  content: "OFF";
  height: calc(var(--swicth-h) / 2);
  text-align: center;
  line-height: calc(var(--swicth-h) / 2);
  width: var(--swicth-w);
  color: #a34319;
  text-shadow: 0 0 3px #ff4e00;
  background: #e8e8e8;
  border-radius: 0 0 5px 5px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

*, :before, :after {
  transition: all .2s ease-in-out;
}

#light-switch2 {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  display: none;
}

#light-switch2:checked ~ #light-switch-label2 .switch {
  box-shadow: 0 10px 10px -5px #e9dbb0, 0 0 0 1px #0000001a, 0 0 0 4px #e8e8e8, 0 0 0 5px #0000001a;
}

#light-switch2:checked ~ #light-switch-label2 .switch:before {
  height: calc(var(--swicth-h) / 2);
  line-height: calc(var(--swicth-h) / 2);
  color: #64bf60;
  text-shadow: 0 0 3px #38ff2e;
  background: #e8e8e8;
  top: 0;
}

#light-switch2:checked ~ #light-switch-label2 .switch:after {
  height: calc(var(--swicth-h) / 2 - 5px);
  line-height: calc(var(--swicth-h) / 2 - 5px);
  color: #b5b5b5;
  text-shadow: 0 0 #0000;
  background: #f5f5f5;
  bottom: 5px;
  box-shadow: 0 5px #a6a6a6;
}

#light-switch-label2 {
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
}

#light-switch-label2 .switch {
  cursor: pointer;
  height: var(--swicth-h);
  width: var(--swicth-w);
  background: #f5f5f5;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 10px -5px #e9dbb000, 0 0 0 1px #0000001a, 0 0 0 4px #e8e8e8, 0 0 0 5px #0000001a;
}

#light-switch-label2 .switch:before {
  content: "ON";
  height: calc(var(--swicth-h) / 2 - 5px);
  text-align: center;
  line-height: calc(var(--swicth-h) / 2 - 5px);
  width: var(--swicth-w);
  color: #999;
  background: #d1d1d1;
  border-radius: 5px 5px 0 0;
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
}

#light-switch-label2 .switch:after {
  content: "OFF";
  height: calc(var(--swicth-h) / 2);
  text-align: center;
  line-height: calc(var(--swicth-h) / 2);
  width: var(--swicth-w);
  color: #a34319;
  text-shadow: 0 0 3px #ff4e00;
  background: #e8e8e8;
  border-radius: 0 0 5px 5px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

#return-anchor {
  position: absolute;
  top: 32px;
  left: 32px;
}

#return-anchor img {
  opacity: .7;
  width: 64px;
}

#switch-container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 100px;
  margin-bottom: 32px;
  display: flex;
}

.logic-gate-icon {
  opacity: .3;
  width: 100px;
  height: 50px;
}

#rooms-container {
  flex-flow: column wrap;
  align-content: center;
  gap: 32px;
  width: 100%;
  height: 220px;
  display: flex;
}

#rooms-container anchor {
  background-color: #fafafa;
  border: 2px solid #00000080;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  gap: 8.33333px;
  padding: 12px;
  display: flex;
}

#rooms-container anchor h2 {
  text-align: center;
  font-size: 16.6667px;
  font-weight: 600;
}

#rooms-container anchor img {
  width: 50px;
}

#rooms-container anchor :first-child {
  gap: 18.3333px;
}

#rooms-container anchor :first-child img {
  width: 40px;
}

#root {
  --swicth-w: 50px;
  --swicth-h: 100px;
  color: #4d4d4d;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: Open Sans, sans-serif;
  display: flex;
}

anchor {
  cursor: pointer;
}

h1 {
  margin-top: 24px;
  font-size: 64px;
  font-weight: 700;
}

dotlottie-player {
  transform: rotateZ(180deg);
}

html, body {
  background-color: #f2f2f2;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-weight: 200;
}

/*# sourceMappingURL=index.3a01df49.css.map */
