@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');

@import 'node_modules/reset-css/reset.css';
@import 'pages/logicRooms/logicRoom.scss';
@import 'pages/home/home.scss';

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    --swicth-w: 50px;
    --swicth-h: 100px;
    font-family: 'Open Sans', sans-serif;
    color: hsl(0, 0%, 30%)
}

anchor {
    cursor: pointer;
}

h1 {
    margin-top: 24px;
    font-size: 64;
    font-weight: 700;
}

dotlottie-player {
    transform: rotateZ(180deg);
}

html,
body {
    font-family: helvetica neue, helvetica, arial, sans-serif;
    font-weight: 200;
    background-color: hsl(0, 0%, 95%);
}