@import 'node_modules/reset-css/reset.css';

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    --swicth-w: 50px;
    --swicth-h: 100px;
}

dotlottie-player {
    transform: rotateZ(180deg);
}

*,
*:before,
*:after {
    transition: .2s ease-in-out;
}

html,
body {
    font-family: helvetica neue, helvetica, arial, sans-serif;
    font-weight: 200;
}

#light-switch2 {
    opacity: 0;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    display: none;

    &:checked~#background {
        background-color: #ebdbac;
    }

    &:checked~#light-switch-label2 {
        .switch {

            box-shadow: 0 10px 10px -5px rgba(233, 219, 176, 1), 0 0 0 1px rgba(0, 0, 0, .1), 0 0 0 4px #fff4d3, 0 0 0 5px rgba(0, 0, 0, .1);

            &:before {
                height: calc(var(--swicth-h) / 2);
                top: 0px;
                line-height: calc(var(--swicth-h) / 2);
                background: #fff4d3;
                color: #64bf60;
                text-shadow: 0 0 3px #38ff2e;
            }

            &:after {
                height: calc(var(--swicth-h) / 2 - 5px);
                bottom: 5px;
                line-height: calc(var(--swicth-h) / 2 - 5px);
                background: #fffaea;
                box-shadow: 0 5px 0 #d0b57b;
                color: #d7bf95;
                text-shadow: 0 0 0px transparent;
            }
        }
    }
}

#light-switch-label2 {
    display: block;
    width: fit-content;
    height: fit-content;
    z-index: 1;

    .switch {
        cursor: pointer;
        height: var(--swicth-h);
        width: var(--swicth-w);
        background: #fffaea;
        position: relative;
        /* left: -13px; */
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 10px 10px -5px rgba(233, 219, 176, 0), 0 0 0 1px rgba(0, 0, 0, .1), 0 0 0 4px #fff4d3, 0 0 0 5px rgba(0, 0, 0, .1);

        &:before {
            content: 'ON';
            display: block;
            position: absolute;
            height: calc(var(--swicth-h) / 2 - 5px);
            text-align: center;
            line-height: calc(var(--swicth-h) / 2 - 5px);
            width: var(--swicth-w);
            top: 5px;
            left: 0;
            background: #efe0b1;
            color: #bfa371;
            border-radius: 5px 5px 0 0;
        }

        &:after {
            content: 'OFF';
            display: block;
            position: absolute;
            height: calc(var(--swicth-h) / 2);
            text-align: center;
            line-height: calc(var(--swicth-h) / 2);
            width: var(--swicth-w);
            bottom: 0;
            left: 0;
            background: #fff4d3;
            color: #a4441a;
            text-shadow: 0 0 3px #ff4e00;
            border-radius: 0 0 5px 5px;
        }
    }

    #background {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #132436;
    }
}

/* Switch code by Jesse Couch, source at: https://codepen.io/designcouch/pen/eYaZKg */