@import '../../node_modules/reset-css/reset.css';

*,
*:before,
*:after {
    transition: .2s ease-in-out;
}

#light-switch2 {
    opacity: 0;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    display: none;

    &:checked~#light-switch-label2 {
        .switch {

            box-shadow: 0 10px 10px -5px rgba(233, 219, 176, 1), 0 0 0 1px rgba(0, 0, 0, .1), 0 0 0 4px hsl(45, 0%, 91%), 0 0 0 5px rgba(0, 0, 0, .1);

            &:before {
                height: calc(var(--swicth-h) / 2);
                top: 0px;
                line-height: calc(var(--swicth-h) / 2);
                background: hsl(45, 0%, 91%);  /* pt de cima ativado */
                color: #64bf60;
                text-shadow: 0 0 3px #38ff2e;
            }

            &:after {
                height: calc(var(--swicth-h) / 2 - 5px);
                bottom: 5px;
                line-height: calc(var(--swicth-h) / 2 - 5px);
                background: hsl(46, 0%, 96%);  /* pt de baixo ativado */
                box-shadow: 0 5px 0 hsl(41, 0%, 65%); /* sombra da pt de baixo ativado */
                color: hsl(38, 0%, 71%); /* texto off desativado  */
                text-shadow: 0 0 0px transparent;
            }
        }
    }
}

#light-switch-label2 {
    display: block;
    width: fit-content;
    height: fit-content;
    z-index: 1;

    .switch {
        cursor: pointer;
        height: var(--swicth-h);
        width: var(--swicth-w);
        background: hsl(46, 0%, 96%); /* claridade pt de cima  */
        position: relative;
        /* left: -13px; */
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 10px 10px -5px rgba(233, 219, 176, 0), 0 0 0 1px rgba(0, 0, 0, .1), 0 0 0 4px hsl(45, 0%, 91%), 0 0 0 5px rgba(0, 0, 0, .1); /* contorno desativado */

        &:before {
            content: 'ON';
            display: block;
            position: absolute;
            height: calc(var(--swicth-h) / 2 - 5px);
            text-align: center;
            line-height: calc(var(--swicth-h) / 2 - 5px);
            width: var(--swicth-w);
            top: 5px;
            left: 0;
            background: hsl(45, 0%, 82%); /* cor pt de cima desativado  */
            color: hsl(38, 0%, 60%); /* texto on desativado  */
            border-radius: 5px 5px 0 0;
        }

        &:after {
            content: 'OFF';
            display: block;
            position: absolute;
            height: calc(var(--swicth-h) / 2);
            text-align: center;
            line-height: calc(var(--swicth-h) / 2);
            width: var(--swicth-w);
            bottom: 0;
            left: 0;
            background: hsl(45, 0%, 91%); /* cor pt de baixo desativado  */
            color: hsl(18, 73%, 37%); /* texto off ativado  */
            text-shadow: 0 0 3px #ff4e00;
            border-radius: 0 0 5px 5px;
        }
    }
}

/* Switch code by Jesse Couch, source at: https://codepen.io/designcouch/pen/eYaZKg */